
{{{body}}}
  <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="col-md-4 mb30">
                  <a href="/capabilities">Capabilities</a>
              </div>
              <div class="col-md-4 mb30">
                  <a href="/pricing">Pricing</a>
              </div>
              <div class="col-md-4 mb30">
                  <a href="/portal">Sign In</a>
              </div>
          </div>
          <div class="row pt40">

              <div class="col-md-6">
                  <!-- Social links-->
                  <h6 style="color: white;">Connect with us!</h6>
                  <a href="https://codepen.io/storrei-app/">
                      <img style="max-width: 70px;" src="images/codepen.jpg" />
                  </a>
              </div>
              <div class="col-md-6 text-right">
                  &copy; Storrei app 2018. All rights reserved.
              </div>
          </div>
      </div>
  </footer>

  <a href="#" class="back-to-top hidden-xs-down show" id="back-to-top"><i style="margin-top: 10px;">
      <svg width="24" height="24" fill-rule="evenodd" clip-rule="evenodd"><path d="M23.245 20l-11.245-14.374-11.219 14.374-.781-.619 12-15.381 12 15.391-.755.609z"/></svg>
  </i></a>
